{% extends 'base.html'%}

{% block title %}Login{% endblock %}

{% block content %}
<form method="POST" class="form-group">{% csrf_token %}
  <div class="col-12">
    <div class="row" style="padding-top: 4px">
        <div class="col-12 col-md-3">
            <h4 class="font-weight-bold" style="color:#ff7200;">
              Username
            </h4>
        </div>
        <div class="col-12 col-md align-self-start">
          {{ form.username }}
        </div>
    </div>
    <div class="row" style="padding-top: 4px">
      <div class="col-12 col-md-3 align-self-center">
          <h4 class="font-weight-bold" style="color:#ff7200;">
            Password
          </h4>
      </div>
      <div class="col-12 col-md align-self-start">
        {{ form.password }}
      </div>
    </div>
    <div class="row" style="padding-top: 4px">
      <a class="text-danger">{{ form.non_field_errors }}</a>
    </div>
  </div>
  <hr>
  <a class="btn btn-outline-secondary" href="{% url 'home' %}" role="button">Cancel</a>
  <button class="btn btn-outline-primary" type="submit">Login</button>
</form>
{% endblock %}