 {% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
<div class="card">
  <div class="card-header">
    <b>About</b>
  </div>
  <div class="card-body">
    <h5 class="card-title">Why I made this web-application</h5>
    <p class="card-text text-justify">At my workplace, we are currently fielding options for CMMS systems to manage the maintenance schedules of the departments around the country. As so happens, I am learning about web-development so thought it would be a great learning oporunity to try and build a system like this.</p>
    <p></p>
    <p class="text-right">- Mfon :)</p>
    <a href="{% url 'home' %}" class="btn btn-primary">Get Started</a>
  </div>
</div>
    </div>
  </div>
  <div class="row">
  </div>
</div>
{% endblock content %}