 {% extends 'base.html' %}

{% block title %}Assets{% endblock title %}

{% block content %}
<h1 style="color:#ff7200; margin-bottom: 15px;"><b>Assets</b> <a href="{% url 'create_asset' %}" class="btn btn-outline-success" style="float: right;">Add</a></h1>
<hr>
<div class="alert alert-warning" role="alert">
  <h4 class="alert-heading">Nothing here yet!</h4>
  <p>This section does not contain any content yet.</p>
  <p>Please be patient.</p>
  <hr>
  <p class="mb-0">When the site is ready, add new assets with the green button in the corner.</p>
</div>

{% endblock content %}