{% extends 'base.html' %} {% block title %}Create a new work request{% endblock title %} {% block content %}
<h1 style="color:#ff7200; margin-bottom: 15px;"><b>Create A New Asset</b></h1>
<hr>

<form action="" method="POST">{% csrf_token %}
  <div class="col-12">
    <div class="row">
        <div class="col-12 col-md-2">
          <label for="title">
            <h3 class="font-weight-bold" style="color:#ff7200;">
              Name
            </h3>
            </label>
        </div>
        <div class="col-12 col-md align-self-start">
          {{ form.assname }}
        </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-2">
        <label for="author">
          <h3 class="font-weight-bold" style="color:#ff7200;">
            Location
          </h3>
        </label>
      </div>
      <div class="col-12 col-md align-self-start">
        {{ form.location }}
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-2 align-self-center">
        <label for="text">
          <h3 class="font-weight-bold" style="color:#ff7200;">
            Description
          </h3>
        </label>
      </div>
      <div class="col-12 col-md align-self-start">
        {{ form.description }}
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-2">
        <label for="ass_user">
          <h3 class="font-weight-bold" style="color:#ff7200;">
            Quantity
          </h3>
        </label>
      </div>
      <div class="col-12 col-md align-self-start">
        {{ form.quantity }}
      </div>
    </div>
  </div>
  <hr>
  <a class="btn btn-outline-secondary" href="{% url 'home' %}" role="button">Cancel</a>
  <input type="submit" class="btn btn-outline-success" value="Submit">
</form>

{% endblock content %}

# https://repl.it/talk/learn/Learning-Web-Development-with-Python-Part-4/13396