{% extends 'base.html' %}

{% block title %}{{ order.title }}{% endblock title %}

{% block content %}
<h1 style="color:#ff7200;"><b>{{ order.title }}</b></h1>
{% if order.urgent == 1 %}
  <h3 class="text-danger">[URGENT]</h3>
  {% endif %}
  <a class="text" href="{% url 'assets_detail' pk=asset.pk %}"><b>{{ order.assigned_asset }}</b></a>
  <h5 class= "font-italic">{{ order.targetuser}},</h5>
  <p style="font-size: larger";>{{ order.text }}</p>
  <hr>
<p><b>{{ order.author }}</b></p>
<p><em>{{ order.published_date }}</em></p>
<hr>
<a class="btn btn-outline-secondary" href="{% url 'workorders_list' %}" role="button">Close</a>
{% if user.is_authenticated %}
<a class="btn btn-outline-success" href="{% url 'workorders_new' %}" role="button">New</a>
<a class="btn btn-outline-primary" href="{% url 'workorders_edit' pk=order.pk %}" role="button">Edit</a>
<a class="btn btn-outline-danger" href="{% url 'workorders_delete' pk=order.pk %}" role="button">Delete</a>
{% endif %}

{% endblock content %}
