{% extends 'base.html' %}

{% block title %}New Work Order Request{% endblock title %}

{% block content %}
<h1 style="color:#ff7200; margin-bottom: 15px;"><b>Create A Work Order Request</b></h1>
<hr>

<form method="POST">{% csrf_token %}
  <div class="col-12">
    <div class="row">
        <div class="col-12 col-md-2">
          <label for="title">
            <h3 class="font-weight-bold" style="color:#ff7200;">
              Title
            </h3>
            </label>
        </div>
        <div class="col-12 col-md align-self-start">
          {{ form.title }}
        </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-2 align-self-center">
        <label for="text">
          <h3 class="font-weight-bold" style="color:#ff7200;">
            Text
          </h3>
        </label>
      </div>
      <div class="col-12 col-md align-self-start">
        {{ form.text }}
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-2">
        <label for="targetuser">
          <h3 class="font-weight-bold" style="color:#ff7200;">
            Target User(s)
          </h3>
        </label>
      </div>
      <div class="col-12 col-md align-self-start">
        {{ form.targetuser }}
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-2">
        <label for="targetuser">
          <h3 class="font-weight-bold" style="color:#ff7200;">
            Related Asset
          </h3>
        </label>
      </div>
      <div class="col-12 col-md align-self-start">
        {{ form.assigned_asset }}
      </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-2">
          <label for="urgent">
            <h3 class="font-weight-bold" style="color:#ff7200;">
              Urgent?
            </h3>
          </label>
        </div>
        <div class="col-12 col-md align-self-start">
          {{ form.urgent }}
        </div>
      </div>
  </div>
  <hr>
  <a class="btn btn-outline-secondary" href="{% url 'workorders_all' %}" role="button">Cancel</a>
  <button class="btn btn-outline-success" type="submit">Save</button>
</form>
{% endblock content %}
