{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
<div class="container">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-12 col-md-9">
<div class="card">
  <div class="card-header">
    <b>Welcome to the Computerised Facility Management System</b>
  </div>
  <div class="card-body">
    <h5 class="card-title">This is a live demonstration of the web-application!</h5>
    <p class="card-text text-justify">While not logged, in you can only view posts on the website, however you can start creating, editing and deleting posts by <a href="{% url 'register' %}">registering</a> an account and <a href="{% url 'login' %}">logging</a> in.</p>
    <p class="text-right">- Mfon :)</p>
    <a href="{% url 'home' %}" class="btn btn-primary">Get Started</a>
  </div>
</div>
    </div>
  </div>
  <div class="row">
  </div>
</div>
{% endblock content %}