{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-12 col-md-8">
        <h1 style="color:#ff7200;"><b>Welcome to the CMFS</b></h1>
    </div>
    <div class="col-12 col-md-2 align-self-end">
        {% if user.is_authenticated %}
            <h5>Logged in as <b>{{ user.username }}</b></h5>
        {% endif %}
    </div>
    <div class="col-md-2 align-self-end">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-secondary">Logout</a>
        {% else %}
        <a href="{% url 'register' %}" class="btn btn-success">Register</a>
        <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
        {% endif %}
    </div>
</div>
<hr>
<div class="row">
    <div class="col-12 col-md-4">
        <div class="card border-secondary mb-3">
            <div class="row card-body d-flex justify-content-center">
                <a class="fas fa-clipboard-list fa-7x" style="color: #ff7200;" href="{% url 'workorders_all' %}"></a>
            </div>
            <div>
                <div class="row card-body d-flex justify-content-center">
                    <a href="{% url 'workorders_all' %}" style="color: #ff7200;"><b>Work Orders</b></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card border-secondary mb-3">
            <div class="row card-body d-flex justify-content-center">
                <a class="fas fa-cogs fa-7x" style="color: #ff7200;" href="{% url 'assets_list' %}"></a>
            </div>
            <div>
                <div class="row card-body d-flex justify-content-center">
                    <a href="{% url 'assets_list' %}" style="color: #ff7200;"><b>Assets</b></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="card border-secondary mb-3">
            <div class="row card-body d-flex justify-content-center">
                <a class="fas fa-toolbox fa-7x" style="color: #ff7200;" href="{% url 'parts_all' %}"></a>
            </div>
            <div>
                <div class="row card-body d-flex justify-content-center">
                    <a href="{% url 'parts_all' %}" style="color: #ff7200;"><b>Parts</b></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}